USE [Group2-PIS-V2]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[Appointment_ID] [int] NOT NULL,
	[Appointment_ID_Number] [varchar](50) NOT NULL,
	[Assigned_Patient_ID] [int] NOT NULL,
	[Assigned_Doctor_ID] [int] NOT NULL,
	[Appointment_Schedule] [datetime] NOT NULL,
	[Appointment_Purpose] [varchar](100) NOT NULL,
	[Appointment_Status] [tinyint] NOT NULL,
	[Medical_Records_Text] [varchar](800) NULL,
	[Diagnosis_Text] [varchar](500) NULL,
	[Treatment_Text] [varchar](500) NULL,
	[Prescriptions_Text] [varchar](500) NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[Appointment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment_Invoice_Link]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment_Invoice_Link](
	[Link_ID] [int] NOT NULL,
	[Appointment_ID] [int] NOT NULL,
	[Bill_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Link_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit_Log]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log](
	[Log_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Action] [varchar](100) NOT NULL,
	[Table_Name] [varchar](50) NOT NULL,
	[Record_ID] [int] NULL,
	[Action_Date] [datetime] NOT NULL,
	[Details] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Bill_ID] [int] NOT NULL,
	[Bill_ID_Number] [varchar](50) NOT NULL,
	[Assigned_Patient_ID] [int] NOT NULL,
	[Amount] [money] NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[Date_Billed] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Payment_Method] [varchar](50) NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[Bill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_ID] [int] NOT NULL,
	[Department_Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Doctor_ID] [int] NOT NULL,
	[Doctor_ID_Number] [varchar](10) NOT NULL,
	[License_Number] [varchar](20) NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[Specialization] [varchar](50) NOT NULL,
	[Employment_Date] [date] NOT NULL,
	[Regular_Staff] [bit] NOT NULL,
	[Residency_Date] [date] NULL,
	[Supervisor_ID] [varchar](50) NULL,
	[Salary] [money] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Approval_Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance](
	[Insurance_ID] [int] NOT NULL,
	[Policy_Number] [varchar](50) NOT NULL,
	[Provider_Name] [varchar](100) NOT NULL,
	[Coverage_Type] [varchar](50) NOT NULL,
	[Coverage_Amount] [money] NULL,
	[Expiry_Date] [date] NULL,
	[Assigned_Patient_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Insurance_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Records]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Records](
	[Record_ID] [int] NOT NULL,
	[Record_ID_Number] [varchar](50) NOT NULL,
	[Record_Date] [date] NOT NULL,
	[Assigned_Patient_ID] [int] NOT NULL,
	[Assigned_Doctor_ID] [int] NOT NULL,
	[Diagnosis] [varchar](500) NOT NULL,
	[Treatment] [varchar](500) NOT NULL,
	[Prescriptions] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Medical_Records] PRIMARY KEY CLUSTERED 
(
	[Record_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[Nurse_ID] [int] NOT NULL,
	[Nurse_ID_Number] [varchar](10) NOT NULL,
	[License_Number] [varchar](20) NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[Specialization] [varchar](50) NOT NULL,
	[Employment_Date] [date] NOT NULL,
	[Regular_Staff] [bit] NOT NULL,
	[Residency_Date] [date] NULL,
	[Supervisor_ID] [nchar](10) NULL,
	[Salary] [money] NOT NULL,
	[Person_ID] [int] NOT NULL,
 CONSTRAINT [PK_Nurse] PRIMARY KEY CLUSTERED 
(
	[Nurse_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_ID] [int] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Assigned_Doctor_ID] [int] NOT NULL,
	[Assigned_Nurse_ID] [int] NOT NULL,
	[Patient_ID_Number] [varchar](20) NOT NULL,
	[Allergens] [varchar](50) NULL,
	[Blood_Type] [varchar](5) NOT NULL,
	[Date_Admitted] [datetime] NOT NULL,
	[Date_Discharged] [datetime] NULL,
	[Medical_History] [varchar](800) NOT NULL,
	[Current_Medications] [varchar](500) NULL,
	[Room_ID] [int] NOT NULL,
	[Medical_Records] [int] NULL,
	[Bill_ID] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Person_ID] [int] NOT NULL,
	[Last_Name] [varchar](100) NOT NULL,
	[Given_Name] [varchar](100) NOT NULL,
	[MIddle_Name] [varchar](100) NULL,
	[Suffix] [varchar](5) NULL,
	[Birthdate] [date] NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[Contact_Number] [varchar](32) NOT NULL,
	[Address] [varchar](500) NOT NULL,
	[Emergency_Contact] [varchar](100) NOT NULL,
	[Relationship_to_Emergency_Contact] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Nationality] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Room_ID] [int] NOT NULL,
	[Room_Number] [smallint] NOT NULL,
	[Room_Type] [varchar](25) NOT NULL,
	[Capacity] [tinyint] NOT NULL,
	[Assigned_Patient_ID] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Room_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_ID] [int] NOT NULL,
	[Staff_ID_Number] [varchar](10) NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[Employment_Date] [date] NOT NULL,
	[Regular_Staff] [bit] NOT NULL,
	[Supervisor_ID] [int] NULL,
	[Salary] [money] NOT NULL,
	[Person_ID] [int] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/4/2025 3:25:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Associated_Person_ID] [int] NOT NULL,
	[User_Role] [varchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audit_Log] ADD  DEFAULT (getdate()) FOR [Action_Date]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT ((0)) FOR [Approval_Status]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Patient') FOR [User_Role]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([Assigned_Doctor_ID])
REFERENCES [dbo].[Doctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([Assigned_Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[Appointment_Invoice_Link]  WITH CHECK ADD  CONSTRAINT [FK_Link_Appointment] FOREIGN KEY([Appointment_ID])
REFERENCES [dbo].[Appointment] ([Appointment_ID])
GO
ALTER TABLE [dbo].[Appointment_Invoice_Link] CHECK CONSTRAINT [FK_Link_Appointment]
GO
ALTER TABLE [dbo].[Appointment_Invoice_Link]  WITH CHECK ADD  CONSTRAINT [FK_Link_Bill] FOREIGN KEY([Bill_ID])
REFERENCES [dbo].[Bills] ([Bill_ID])
GO
ALTER TABLE [dbo].[Appointment_Invoice_Link] CHECK CONSTRAINT [FK_Link_Bill]
GO
ALTER TABLE [dbo].[Audit_Log]  WITH CHECK ADD  CONSTRAINT [FK_Audit_Log_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Audit_Log] CHECK CONSTRAINT [FK_Audit_Log_User]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Patient] FOREIGN KEY([Assigned_Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Patient]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Person]
GO
ALTER TABLE [dbo].[Insurance]  WITH CHECK ADD  CONSTRAINT [FK_Insurance_Patient] FOREIGN KEY([Assigned_Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[Insurance] CHECK CONSTRAINT [FK_Insurance_Patient]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Records_Doctor] FOREIGN KEY([Assigned_Doctor_ID])
REFERENCES [dbo].[Doctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_Medical_Records_Doctor]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Records_Patient] FOREIGN KEY([Assigned_Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_Medical_Records_Patient]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Person]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Doctor] FOREIGN KEY([Assigned_Doctor_ID])
REFERENCES [dbo].[Doctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Doctor]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Nurse] FOREIGN KEY([Assigned_Nurse_ID])
REFERENCES [dbo].[Nurse] ([Nurse_ID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Nurse]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Person]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Room] FOREIGN KEY([Room_ID])
REFERENCES [dbo].[Room] ([Room_ID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Room]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Person]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Person] FOREIGN KEY([Associated_Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Person]
GO
